<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Campus Event Planner</title>

    <link rel="stylesheet" href="../public/css/style.css">
    <script src="../public/js/main.js"></script>
</head>
<body>

    <!--Navbar-->

    <nav class="navbar">
        <div class="navbar-logo"><a id="CEPID" href="student-dashboard.html">Campus Event Planner</a></div>

        <ul class="navbar-links">
            <li><a href="index.html" class="active">Home</a></li>
            <li><a href="student-dashboard.html">Dashboard</a></li>
            <li><a href="events.html">Events</a></li>
            <li><a href="my-registrations.html">My Registrations</a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>

        <div class="navbar-actions"><a href="login.html" class="btn btn-secondary">Logout</a>
        </div>
    </nav>

    <div class="hero-section">
        <h1>Smart Campus Event Planner</h1>

        <h2>Never miss out again.</h2>

        <p class="p">Keeping track of what's happening on campus is harder than it should be. An event gets mentioned in a group chat, you mean to register, and by the time you remember, it's already over. Or it was on a poster you walked past and never really read.
        That's the problem this solves. One place to see what's going on, workshops, guest lectures, club events, career fairs, and register without digging through five different apps. Your events and your schedule, all in one spot.
        If you're organizing events, this works for you too. Create the event, see who's registered, check people in, and get a sense of what's actually drawing people in. No spreadsheets, no chasing people down for a headcount.
        Less wondering if you missed something. More actually showing up.</p>

        <div class="button-hero">
            <button type="button">Browse Events</button>
            <button type="button">Sign Up</button>
        </div>
    </div>

    <hr style="width: 85%;">

    <div class="how-it-works">
        <h2>HOW IT WORKS</h3>
        <div class="how-it-works-cards">
            <div class="cards" id="discover-card">
                <h4>🔎</h4>
                <h4>Discover</h4>
                <p class="p">Browse by category, date or location</p>
            </div>
            <div class="cards" id="register-card">
                <h4>📆</h4>
                <h4>Register</h4>
                <p class="p">Sign up with a couple of clicks</p>
            </div>
            <div class="cards" id="track-card">
                <h4>📊</h4>
                <h4>Track</h4>
                <p class="p">See it all in your dashboard</p>
            </div>
        </div>
    </div>

    <hr style="width: 85%;">



</body>
</html>