<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in to Smart Campus Event Planner</title>

    <link rel="stylesheet" href="../public/css/style.css">
    <script src="../public/js/main.js"></script>
</head>
<body class="log-in-page">

    <div class="form-container" id="form-container">
        <div class="form__container signup__container">
            <form>
                <h1>Create Account</h1>
                <div class="socials">
                    <a href="#"><i class="ri-google-fill"></i></a>
                    <a href="#"><i class="ri-facebook-circle-fill"></i></i></a>
                    <a href="#"><i class="ri-linkedin-box-fill"></i></i></a>
                </div>
                <span>or use your email for registration</span>
                <div class="form__group">
                    <input type="text" placeholder="First Name">
                </div>
                <div class="form__group">
                    <input type="text" placeholder="Last Name">
                </div>
                <div class="form__group">
                    <input type="email" placeholder="Email">
                </div>
                <div class="form__group">
                    <input type="password" placeholder="Password">
                </div>
                <button>SIGN UP</button>
            </form>
        </div>
        <div class="form__container signin__container">
            <form>
                <h1>Sign In</h1>
                <div class="socials">
                    <a href="#"><i class="ri-google-fill"></i></a>
                    <a href="#"><i class="ri-facebook-circle-fill"></i></i></a>
                    <a href="#"><i class="ri-linkedin-box-fill"></i></i></a>
                </div>
                <span>or use your account</span>
                <div class="form__group">
                    <input type="email" placeholder="Email">
                </div>
                <div class="form__group">
                    <input type="password" placeholder="Password">
                </div>
                <a href="#" class="forgot_password">Forgot Your Password?</a>
                <button>SIGN IN</button>
            </form>
        </div>
        <div class="overlay__container" id="overlayContainer">
            <div class="overlay__wrapper">
                <div class="overlay__panel overlay__panel__left">
                    <h1>Welcome Back!</h1>
                    <p>
                        To keep connected with us please log in with your personal info 
                    </p>
                    <button>SIGN IN</button>
                </div>
                <div class="overlay__panel overlay__panel__right">
                    <h1>Hello, Friend!</h1>
                    <p>
                        Enter your personal details and start your journey with us
                    </p>
                    <button>SIGN UP</button>
                </div>
            </div>
        </div>
        <button id="overlayBtn"></button>
    </div>

</body>
</html>